.collectionProducts_wrapper {
    padding: 0 0 0 0;
}
.collection_headera {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
}
.collection_render_card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* 



.collection_section_newspost {
    width: 100%;
    height: auto;
    padding: 18px 99px 0px;
}

.collection_section_newspostss {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.collection_title22 {
    display: flex;
}

.collection_title_desrcs {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
}

.collection_sec {
    margin-bottom: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
} */

/* 1 */
@media screen and (max-width: 1300px) {
    .collectionProducts_wrapper {
        padding: 0 0 0 0;
    }   
}

/* 2 */
@media screen and (max-width: 1100px) {
    .collectionId_container {
        padding: 0 0 54px 0;
    }

    .collection_section_newspost {
        padding: 16px 50px 30px;
    }
}

/* 3 */
@media screen and (max-width: 900px) {
    .collectionId_container {
        padding: 0 0 44px 0;
       
    }

    .collection_section_newspost {
        padding: 14px 30px 20px;
    }
}

/* 4 */
@media screen and (max-width: 700px) {
    .collectionId_container {
        padding: 0 0 34px 0;
    }

    .collection_section_newspost {
        padding: 12px 16px 10px;
    }
}

.collection_title_text, 
.collection_title_textsss {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-bottom: 12px;
}