.basket_wrapper {
    width: 100%;
    height: auto;
    padding: 14px 99px;
    background-color: #ECECEC;
}

.basket_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.basket_information {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.information_card {
    width: 920px;
}

.information_price {
    height: 312px;
    width: 384px;
    padding: 24px;
    background-color: white;
    margin-left: 16px;
}

.price_block_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
    margin-bottom: 16px;
}

.price_card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.price_card_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
}

.price_card_descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
}

.line_block {
    width: 100%;
    margin-bottom: 10px;
}

.price_card_button {
    width: 100%;
    height: 44px;
    background-color: #E5271B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.interesting_container {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}

.interesting_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-bottom: 16px;
}

.interesting_descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-bottom: 48px;
}

.interesting_interest {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-bottom: 16px;
}

.interesting_block {
    display: flex;
    flex-wrap: wrap;
}

/* MODAL */
.modal_basket {
    height: auto;
    max-width: 440px;
    margin: 32px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.modal_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #393939;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.modal_button_close {
    height: 24px;
    width: 24px;
    border: none;
    background-color: white;
}

.modal_input {
    height: 64px;
    width: 100%;
    margin-bottom: 12px;
}

.modal_basket_descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #808080;
    margin-bottom: 4px;
}

.modal_basket_input {
    padding: 13px 10px 13px 12px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    outline: none;
    color: #393939;
}

.modal_checkbox {
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
}


.modal_basket_checkbox {
    width: 18px;
    height: 18px;
    border: 1.2px solid #919191;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 11px;
}

.modal_basket_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #393939;
}

.modal_sall_button {
    height: 44px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #1D1D1B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.modal_sall_buttons {
    height: 44px;
    width: 100%;
    background: #1D1D1B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper,
.modal-content {
    border-radius: 0 !important;
}

.modal_complite {
    width: 328px;
    height: 264px;
    text-align: center;
    margin: auto;
    margin: 28px 24px;
}

.mobile_sale {
    display: none;
}



/* 1 */
@media screen and (max-width: 1300px) {
    .basket_wrapper {
        padding: 14px 99px;
    }
}

/* 2 */
@media screen and (max-width: 1100px) {
    .basket_wrapper {
        padding: 12px 50px;
    }
}

/* 3 */
@media screen and (max-width: 900px) {
    .basket_wrapper {
        padding: 10px 30px;
    }

    .interesting_block {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: hidden;
    }
}

/* 4 */
@media screen and (max-width: 700px) {
    .basket_wrapper {
        padding: 8px 16px;
    }

    .interesting_title {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .interesting_descr {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }

    .interesting_interest {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}

/* 5 */
@media screen and (max-width: 415px) {
    .basket_wrapper {
        padding: 8px 16px;
    }

    .information_price {
        display: none;
    }

    .mobile_sale {
        display: block;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 18px 16px;
    }

    .mobile_button_hide {
        width: 100%;
        height: 44px;
        background-color: white;
        border: 1px solid #EDEDED;
        box-sizing: border-box;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 16px;
        color: #1D1D1B;
    }
}