.basket_container {
    width: 100%;
    height: auto;
    padding: 14px 99px;
    background-color: #ECECEC;
}


.inform_sall {
    height: 312px;
    width: 384px;
    padding: 24px;
    background-color: white;
}

.basket_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inform_block_text_p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
    margin-bottom: 16px;
}

.cartItem_price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.cartItem_price_opa {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
}

.cartItem_price_bla {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
}

.cartItem_price_line {
    border: 1px dashed #BFBFBF;
    width: 100%;
    margin: 24px 0;
}

.cartItem_price_btn {
    width: 100%;
    height: 44px;
    background-color: #E5271B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.trach_nune {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #1D1D1B;
}

/* MODAL */
.modl_trash {
    height: auto;
    max-width: 440px;
    margin: 32px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header_modl {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #393939;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header_modl_btn_t {
    height: 24px;
    width: 24px;
    border: none;
    background-color: white;
}

.inout_modl {
    height: 64px;
    width: 100%;
    margin-bottom: 12px;
}

.header_modl_desct {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #808080;
    margin-bottom: 4px;
}

.header_modl_input {
    padding: 13px 10px 13px 12px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    outline: none;
    color: #393939;
}

.input_chexbox {
    width: 18px;
    height: 18px;
    border: 1.2px solid #919191;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 11px;
}

.inout_modl_Chex {
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
}

.inout_modl_btn {
    height: 44px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #1D1D1B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.inout_modl_btns {
    height: 44px;
    width: 100%;
    background: #1D1D1B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper,
.modal-content {
    border-radius: 0 !important;
}

.mobile_sale {
    display: none;
}

/* 1 */
@media screen and (max-width: 1300px) {
    .basket_container {
        padding: 14px 99px;
    }
}

/* 2 */
@media screen and (max-width: 1100px) {
    .basket_container {
        padding: 12px 50px;
    }
}

/* 3 */
@media screen and (max-width: 900px) {
    .basket_container {
        padding: 10px 30px;
    }
}

/* 4 */
@media screen and (max-width: 700px) {
    .basket_container {
        padding: 8px 16px;
    }
}

@media screen and (max-width: 415px) {
    .basket_container {
        padding: 8px 16px;
    }

    .inform_sall {
        display: none;
    }

    .mobile_sale {
        display: block;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 18px 16px;
    }

    .mobile_btn_hide {
        width: 100%;
        height: 44px;
        background-color: white;
        border: 1px solid #EDEDED;
        box-sizing: border-box;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 16px;
        color: #1D1D1B;
    }
}