.collection_section {
    width: 100%;
    padding: 18px 99px 40px;
}

.collection_title_text, .collection_title_textsss {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-bottom: 12px;
}

.colrender_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.collection_title_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn_plag {
    display: flex;
}

.btn_block_plaf {
    width: 44px;
    height: 44px;
    background-color: #1D1D1B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 10px;
}

.next_btn {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next_btn:last-child {
    margin-right: 0;
}

.rigt_btn_pl {
    height: 18px;
    width: 10px;
}

.rigt_btn_pl * {
    fill: rgb(0, 0, 0);
}
/* 1 */
@media screen and (max-width: 1300px) {
    .collection_section {
        padding: 18px 99px 40px;
    }
  }
  
  /* 2 */
  @media screen and (max-width: 1100px) {
    .collection_section {
        padding: 16px 50px 30px;
    }
  }
  
  /* 3 */
  @media screen and (max-width: 900px) {
    .collection_section {
        padding: 14px 30px 30px;
    }
  }
  
  /* 4 */
  @media screen and (max-width: 700px) {
    .collection_section {
        padding: 12px 16px 20px;
    }
  }
    