.newspage_block {
    padding: 0 99px;
}

.newspage_card {
    display: flex;
    padding: 16px;
    background-color: white;
    margin-bottom: 12px;
}

.newspage_block_tetsa {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin: 11px 0 18px;
}

.newspage_card_img {
    margin-right: 16px;
    height: 226px;
    width: 226px;

}

.newspage_card_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-bottom: 6px;
}

.newspage_card_descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 165%;
    color: #5B5B5B;
}

@media screen and (max-width: 1300px) {
    .newspage_container {
        padding: 0 99px;
    }
}

@media screen and (max-width: 1100px) {
    .newspage_container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 900px) {
    .newspage_container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 700px) {
    .newspage_container {
        padding: 0 16px;
    }
}